extends header.pug
block body
  script.
    var socket = io.connect('/2');
    socket.emit('clock2');
    socket.on('data2', (data) => {
      let roS = 1.0 * 360 / 60 * data.seconds;
      let roM = 1.0 * 360 / 60 * data.minutes;
      let roH = 1.0 * 360 / 12 * (data.hours % 12) + 1.0 * 360 / 12 * (data.minutes / 60);
      sec.style.transform = 'rotate(' + roS + 'deg)';
      min.style.transform = 'rotate(' + roM + 'deg)';
      hour.style.transform = 'rotate(' + roH + 'deg)';
    });
  p(style='display: flex; justify-content: center;')= sourceCode
